<div class="container main">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h2>Serviços</h2>
                        </div>
                        <div class="col-md-6 right">
                            <button type="button" class="btn btn-primary" mdbRipple
                                routerLink="/admin/servico/new">Cadastrar</button>
                        </div>
                    </div>
                    <table border=1 class="table table-striped tbtop">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Descrição</th>
                                <th>Valor</th>
                                <th>Criado por</th>
                                <th>Criado em</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (servico of lista; track $index) {
                            <tr>
                                <td>{{ servico.nome }}</td>
                                <td>{{ servico.descricao }}</td>
                                <td>{{ servico.valor | currency:'BRL':'symbol':'1.2-2' }}</td>
                                <td>{{ servico.createdBy }}</td>
                                <td>{{ servico.createDate | date:'dd/MM/yyyy HH:mm' }}</td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <button type="button" class="btn btn-primary actionbtn me-2"
                                            (click)="editar(servico.idServico)" mdbRipple>
                                            Editar
                                        </button>
                                        @if(loginService.hasPermission("ADMIN")){
                                        <button type="button" class="btn btn-danger actionbtn"
                                            (click)="excluir(servico.idServico)" mdbRipple>
                                            Excluir
                                        </button>
                                        }
                                    </div>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>